{% extends 'layout_full.html' %}
{% load rest_framework humanize %}


{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1 class="display-3">Welcome to the Ethereum Signature Database</h1>
        <p class="lead">Function calls in the Ethereum Virtual Machine are specified by the first four bytes of data sent with a transaction.  These 4-byte signatures are defined as the first four bytes of the Keccak hash (SHA3) of the canonical representation of the function signature. The database also contains mappings for event signatures. Unlike function signatures, they are defined as 32-bytes of the Keccak hash (SHA3) of the canonical form of the event signature. Since this is a one-way operation, it is not possible to derive the human-readable representation of the function or event from the bytes signature.  This database is meant to allow mapping those bytes signatures back to their human-readable versions.</p>
        <h2>There are {{ total_signatures|intcomma }} signatures in the database</h2>
        <hr class="m-y-2">
        <p class="lead">
          <form class="form-inline" action="{% url 'signature-list' %}" method="get" novalidate>
            <label for="bytes4_signature">Search Signatures</label>
            {% render_form serializer template_pack='rest_framework/inline' %}
            <button type="submit" class="btn btn-default">Search</button>
          </form>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <h2 class="display-3">TOS and Licensing</h2>
        <p>The data from this service is given free of any license or restrictions on how it may be used.</p>
        <p>Usage of the API is also granted with the single restriction that your usage should not disrupt the service itself.  If you wish to scrape this data, feel free, but please do so with limited concurrency.  You are encouraged to scrape your own copy of this data if your use case is likely to produce heavy load on the API.</p>
      </div>
    </div>
  </div>
{% endblock %}
